*.o
*.log
*.trs
*.lo
*_gen
*_data.h
*_test
*_test.c
Makefile
Makefile.in
.libs
.deps
*.la
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
src/modp_b64*.c
stamp-h1
test-driver
test/speedtest*